// Mixins:
@import "mixins";

// Fonts settings:
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
@import "fonts";

$fontFamily: "Heebo";

$minWith: 320;
$maxWith: 1920;
$maxWithContainer: 857px;
$md1: $maxWithContainer + 12;
$md2: 767.98;
$md3: 991.98;
$md4: 479.98;

@import "null";
body {
  color: #000;
  font-size: 14px;
}

// Basic styles
  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column
  }

// Basic styles

// Files import
@import "header";
@import "footer"
// Files import